* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, Cambria, Cochin, Georgia;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background: #161616;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

.container .branding img {
  width: 200px;
  padding: 0px;
  margin: 0px;
}

header nav .left a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: #66ffff;
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 3rem;
}

.hero {
  padding: 3rem 0;
}
.hero .left img {
  width: 560px;
  margin-bottom: -1rem;
}

.hero .right {
  color: #ffffff;
}

.hero .right h6 {
  font-size: 2.2rem;
  color: #66ffff;
  margin-bottom: 0.5rem;
}

.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero .right h1 span {
  color: #66ffff;
}

.hero .right p {
  color: #f2f2f2;
  line-height: 1.9;
  margin-bottom: 2rem;
}

section.about {
  padding: 6rem 0;
  background: #ffffff;
}

section.about .about-me-img {
  width: 450px;
}

section.about h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

section.about h1 span {
  color: #66ffff;
}

section.about h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

section.about p {
  font-family: "Roboto", sans-serif;
  color: #b3b3b3;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

section.about .social {
  display: flex;
}

section.about .social a {
  background: #161616;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.6rem;
  transition: all 0.3s ease;
}

section.about .social a:hover {
  background: #66ffff;
}

section.about .social a img {
  width: 100%;
  height: 100%;
  padding: 0.3rem;
}

.section-heading {
  color: #070606;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}

.section-heading + p {
  color: #a6a6a6;
  font-family: "Roboto", sans-serif;
  margin-bottom: 8rem;
  text-align: center;
}

.section-heading span {
  color: #66ffff;
}

section.services {
  background: #f2f2f2;
  margin: 1rem;
  padding: 3rem;
}

section.services .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}

section.services .card-wrapper .card {
  background: #ffffff;
  padding: 3rem 2rem;
  position: relative;
  padding-top: 5rem;
  text-align: center;
  transition: all 0.3s ease;
}

section.services .card-wrapper .card img {
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

section.services .card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p {
  font-family: "Roboto", sans-serif;
  color: #a6a6a6;
  line-height: 1.6rem;
}

section.services .card-wrapper .card:hover {
  background: #070606;
}

section.services .card-wrapper .card:hover h2,
section.services .card-wrapper .card:hover p {
  color: #ffffff;
}

section.freelancer {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/camera.png);
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 80%, 0 100%);
  padding-bottom: 14rem;
  padding-top: 3rem;
}

section.freelancer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section.freelancer p {
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

section.reviews .container .slider {
  margin-top: -5rem;
}

section.reviews .slider .slide img {
  width: 100px;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

section.reviews .slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem;
}

section.reviews .slider .slide p {
  font-family: "Roboto", sans-serif;
  color: #a6a6a6;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

section.reviews .slider .slide span {
  font-size: 0.8rem;
  color: #646262;
}

section.reviews .slider-dots .dots {
  list-style-type: none;
  display: flex !important;
  justify-content: center;
}

section.reviews .slider-dots {
  margin-top: 3rem;
}

section.reviews .slider-dots button {
  font-size: 0;
  width: 8px;
  height: 5px;
  margin-right: 0.3rem;
  border: none;
  outline: none;
  background: #b3b3b3;
  border-radius: 50px;
  cursor: pointer;
}

section.reviews .dots li.slick-active button {
  background: #66ffff;
  width: 20px;
}

section.work {
  background: #f2f2f2;
  margin-top: 2rem;
  padding: 3rem;
}

section.work .container p {
  margin-bottom: 3rem;
}

section.work .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

section.work .card-wrapper .card {
  position: relative;
  height: 250px;
}

section.work .card-wrapper .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 207, 211, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f2f2f2;
  opacity: 0;
  transition: all 0.3s ease;
}

section.work .card-wrapper .card:hover .overlay {
  opacity: 1;
}

section.work .card-wrapper .card .overlay a {
  color: #161616;
  text-decoration: none;
}

section.work .card-wrapper .card img {
  width: 100%;
  height: 100%;
}

section.blog {
  background: #161616;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
  padding-bottom: 12rem;
  padding-top: 4rem;
  margin: 3rem;
}

section.blog .container .card-wrapper {
  margin-top: -1rem;
}

section.blog .section-heading {
  color: #f2f2f2;
}

section.blog .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

section.blog .card-wrapper .card {
  background: #f2f2f2;
}

section.blog .card-wrapper .card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.blog .card-wrapper .card .card-content {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section.blog .card-wrapper .card .card-content h1 {
  font-size: 1rem;
  font-weight: 600;
}

section.blog .card-wrapper .card .card-content a {
  color: #161616;
  text-decoration: none;
}

section.blog .card-wrapper .card .card-content a:hover {
  color: #66ffff;
}

section.blog .card-wrapper .card .card-content span {
  color: #b3b3b3;
  font-size: 0.8rem;
}

section.blog .card-wrapper .card .card-content p {
  font-family: "Roboto", sans-serif;
  color: #b3b3b3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section.blog .card-wrapper .card .card-content a.read-more {
  font-size: 0.8rem;
}

section.contact .container p {
  margin-bottom: 5rem;
}

section.contact .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding-top: ;
}

section.contact .card-wrapper .card {
  text-align: center;
}

section.contact .card-wrapper .card img {
  margin-bottom: 3rem;
}

section.contact .card-wrapper .card h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6 {
  font-size: 1rem;
  color: #b3b3b3;
  font-weight: 400;
  margin-bottom: 4rem;
}

section.contact .card-wrapper .card img {
  width: 40px;
}

section.contact .input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

section.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
}

section.contact input {
  padding: 0.5rem;
  border: 1px solid #f2f2f2;
  font-size: 0.8rem;
}

section.contact .input-wrap-2 input {
  margin-bottom: 2rem;
}

section.contact .input-wrap-2 textarea {
  padding: 0.5rem;
  border: 1px solid #f2f2f2;
  font-size: 0.8rem;
}

section.contact .input-wrap-2 textarea:focus,
section.contact input:focus {
  outline: none;
}

section.contact .btn-wrapper {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

footer {
  background: #161616;
  text-align: center;
  padding: 3rem 0;
}

footer .footer-logo {
  margin-bottom: 1rem;
  width: 300px;
}

footer .footer-social a img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

footer .copyright {
  color: #b3b3b3;
}

.side-main-wrapper {
  position: relative;
}

.hamberger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.hamberger img {
  width: 50px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: #b3b3b3;
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 5rem;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.open {
  transform: translateX(0);
}

.close-icon {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.close-icon img {
  width: 40px;
}

.mobile-nav ul {
  list-style-type: none;
}

.mobile-nav ul li a {
  color: #070606;
  text-decoration: none;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  header #main-nav {
    display: none;
  }

  .hamberger {
    display: block;
  }

  .hero .right h6 {
    font-size: 2rem;
  }

  .hero .left img {
    width: 370px;
  }

  .hero .right h1 {
    font-size: 2.8rem;
  }

  .hero {
    padding-bottom: 5rem;
    padding-top: 8rem;
  }

  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 92%, 0 100%);
  }

  section.about .about-me-img {
    width: 350px;
  }

  section.services .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  section.work .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  section.blog .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  section.blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 68% 94%, 0 100%);
  }
}

@media (max-width: 576px) {
  .hero {
    flex-direction: column;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
  }

  .hero .right {
    position: absolute;
    top: 200px;
    padding: 0 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  }

  .hero .left {
    margin-top: -2rem;
    margin-right: -9rem;
    padding-bottom: 1rem;
  }

  .hero .right h6 {
    font-size: 1.5rem;
  }

  .hero .right h1 {
    font-size: 2rem;
  }

  .hero .right p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin-bottom: 1.2rem;
  }

  .flex {
    flex-direction: column;
  }

  .about .right {
    text-align: center;
    margin-top: 2rem;
  }

  .about .right .social {
    justify-content: center;
  }

  section {
    padding: 4rem 0;
  }

  section.services .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  section.freelancer h1 {
    font-size: 2.8rem;
  }

  section.freelancer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 88%, 0 100%);
    padding-bottom: 8rem;
  }

  section.reviews .slider .slide {
    padding: 0;
  }

  section.work .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  section.work .container p {
    margin-bottom: 2rem;
  }

  section.blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 97%, 0 100%);
  }

  section.contact .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  section.contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
